.title-1{
	font-size: 70px;
	text-align: center;
}
.title-2{
	font-size: 50px;
	text-align: center;
}
.title-3{
	font-size: 30px;
	text-align: center;
}
.subtitle-1{
	font-size: 25px;
	text-align: center;
}
.subtitle-2{
	font-size: 20px;
	text-align: center;
}
.subtitle-3{
	font-size: 15px;
	text-align: center;
}