// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'viewPorts';
@import 'backgrounds';
@import 'texts';
@import 'borders';
@import 'forms';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.pointer {
	cursor: pointer;
}

input:focus {
	outline: 0;
	box-shadow: none;
}
