// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'viewPorts';
@import 'backgrounds';
@import 'texts';
@import 'borders';
@import 'forms';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.v-none {
	visibility: hidden;
}
.pointer {
	cursor: pointer;
}

.default-pointer {
	cursor: default!important;
}

.white{
	color: white!important;
}

.mt-30{
	margin-top: 13rem;
}

.alert-sign{
	top: 2rem;
	left: 25%;
}

.hide{
	display: none;
}
.show{
	display: inherit;
}

.input-bg{
	background: rgba(0, 0, 0, 0.09);
}

.input-color{
	color: rgba(0, 0, 0, 0.87);
}

.no-border{
	border: 0;
}

select:focus{
	outline: 0;
	box-shadow: none!important;
border: 0!important;
}

input:focus {
	outline: 0;
	box-shadow: none;
}
